img {
  max-width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

desc {
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
}

h2, li {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;  
  font-size: larger;
  text-align: center;
}

.lessons_list { 
  display: inline; 
  padding-bottom: 5ch;
  text-align: center;
}
